body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: white
}

h1 {
    color: white;
}

h2 {
    margin-top: 30px;
}

button {
    padding: 8px 14px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
}

input {
    display: block;
    margin: 5px 0;
    padding: 6px;
}

ul {
    background: white;
    padding: 15px;
    border-radius: 5px;
}
